@using System.Globalization;


@foreach (var item in ViewBag.ListaQuadro) 
{
<div style="float:left" class="col-sm-6">
<table class="table table-hover table-sm">
    
    <tbody>
    
        <tr style="background-color:#889fce">
            <td class="col-sm-2">
                <div style="float:right">
                    @item.Data.ToString("dd/MM/yyyy")
                </div>                
                <div style="float:left">
                    @{
                        var diaExtenso = new CultureInfo("pt-BR").DateTimeFormat.GetAbbreviatedDayName(item.Data.DayOfWeek);
                        @diaExtenso
                    }
                </div>
            </td>
            <td class="col-sm-2">                
                @foreach (var itemEvento in ViewBag.Evento){
                    if (itemEvento.Id == item.EventoId){
                        @itemEvento.Nome
                    }
                }
            </td>

            <td class="col-sm-2">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Create" asp-controller="PessoaQuadro" asp-route-id="@item.Id">+ Manual</a> 
            </td>
        </tr>        
        @foreach (var itemPessoaQuadro in ViewBag.ItemQuadro) 
        {     
            if (itemPessoaQuadro.QuadroId == item.Id){
                
                <tr>
                    <td>
                        @foreach (var itemLocal in ViewBag.Local){
                            if(itemLocal.Id == itemPessoaQuadro.LocalId){
                                @itemLocal.Nome
                            }
                        }
                    </td>
                    <td >
                        @foreach (var itemPessoa in ViewBag.Pessoa){
                            if(itemPessoa.Id == itemPessoaQuadro.PessoaId){
                                @itemPessoa.Nome                                
                            }
                        }
                    </td>
                    <td >
                        <a asp-action="Edit" asp-controller="PessoaQuadro" asp-route-id="@itemPessoaQuadro.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="PessoaQuadro" asp-route-id="@itemPessoaQuadro.Id">Delete</a>                             
                    </td>
                </tr>
            }

        }

    
    </tbody>
</table>
</div>
}

