@using Microsoft.AspNetCore.Http;

<div class="row">
    <div class="col">
        <a asp-action="Create">+ Novo Quadro</a>    
    </div>
    <div class="col">
        <a asp-action="LocalGeral" asp-controller="PessoaQuadro">+ Add Local Geral</a>    
    </div>    
    <div class="col">
        <a asp-action="GerarEscala" asp-controller="PessoaQuadro">+ Gerar Escala</a>    
    </div>      

    <div id="filtro-escala" class="col" data-url="@Url.Action("QuadroPorEscala","Quadro")">
        <select id="escalaId" name="escalaId" class="form-control" onchange="SelectEscala(this.value)" >   
            <option value="0" selected="selected">Selecione Aqui a Escala / Mês</option>        
            @foreach (var item in ViewBag.Escala){
                if(Context.Session.GetInt32("Escala_Mes") == item.Id){
                    <option value="@item.Id" selected>@item.Mes</option>
                }
                else{
                    <option value="@item.Id">@item.Mes</option>
                }                
            }            
        </select>
    </div>    
</div>

<br/>

<div id="tabelaQuadro">
    @await Html.PartialAsync("_TabelaQuadro")
</div>



