@using Microsoft.AspNetCore.Http;
@{
    var escala = Context.Session.GetInt32("Escala_Mes");
}

<div class="row">
    <div class="col">
        <a asp-action="Create">+ Dia Específico</a>    
    </div>
    <div class="col">
        <a asp-action="CreateTodosDias">+ Período Específico</a>    
    </div>
    <div class="col">
        <a asp-action="LocalGeral" asp-controller="ItemQuadro">+ Local/Horario</a>    
    </div>    
    <div class="col">
        <a asp-action="GerarEscala" asp-controller="ItemQuadro">+ Pessoas Auto</a>    
    </div>      
    <div class="col">
        <a asp-action="LimparPessoas" asp-controller="ItemQuadro">+ Limpar Pessoas</a>    
    </div>     
    <div class="col">
        <a asp-action="LimparLocal" asp-controller="ItemQuadro">+ Limpar Local</a>    
    </div>  
    <div class="col">
        <a asp-action="LimparEscala" asp-controller="ItemQuadro">+ Limpar Escala</a>    
    </div> 
    <!--
    <div class="col" id="LimparTudoAJAX" data-url="@Url.Action("LimparTudoAJAX","ItemQuadro")">   
        <a href="#" onclick="LimparTudoAJAX()">+ Limpar Tudo AJAX</a>       
    </div>     
    -->
    <div class="col">
        <a asp-action="Create" asp-controller="Aviso">+ Add Aviso</a>    
    </div>      

    <div id="filtro-escala" class="col" data-url="@Url.Action("QuadroPorEscala","Quadro")">
        <select id="escalaId" name="escalaId" class="form-control" onchange="SelectEscala(this.value)" >   
            <option value="0" selected="selected">Selecione Aqui a Escala / Mês</option>        
            @foreach (var item in ViewBag.Escala){
                if(escala == item.Id){
                    <option value="@item.Id" selected>@item.Nome</option>
                }
                else{
                    <option value="@item.Id">@item.Nome</option>
                }                
            }            
        </select>
    </div>    
</div>

<br/>

<div id="tabelaQuadro">
    @await Html.PartialAsync("_TabelaQuadro")
</div>


