@using System.Globalization;

<div style="text-align: right">
    <i class="fa fa-print fa-2x" style="cursor:pointer" aria-hidden="true" onClick="window.print()"></i>
</div>



<div class="container">
    <div class="row">

        <div class="col-2 pl-0">
            <div class="float-left">
                <img src="~/images/logo.jpg" class="rounded float-left"/>
            </div>  
            <div>
            @foreach (var item in ViewBag.ListaQuadro) 
            {
                if (item.Destaque == 2)
                {
                    <div style="float:left" class="col-sm-4">
                        <table class="table table-borderless table-hover table-sm">
                            
                            <tbody>
                            
                                <tr style="background-color:#5c9ded">
                                    <td class="col-sm-2">
                                        @item.Data.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="col-sm-2">                
                                        @foreach (var itemEvento in ViewBag.Evento){
                                            if (itemEvento.Id == item.EventoId){
                                                @itemEvento.Nome
                                            }
                                        }
                                    </td>
                                    <td class="col-sm-1">
                                        @{
                                            var diaExtenso = new CultureInfo("pt-BR").DateTimeFormat.GetAbbreviatedDayName(item.Data.DayOfWeek);
                                            @diaExtenso
                                        }
                                    </td>
                                </tr>        
                                @foreach (var itemPessoaQuadro in ViewBag.PessoaQuadro) 
                                {     
                                    if (itemPessoaQuadro.QuadroId == item.Id){
                                        
                                        <tr>
                                            <td>
                                                @foreach (var itemLocal in ViewBag.Local){
                                                    if(itemLocal.Id == itemPessoaQuadro.LocalId){
                                                        @itemLocal.Nome
                                                    }
                                                }
                                            </td>
                                            <td >
                                                @foreach (var itemPessoa in ViewBag.Pessoa){
                                                    if(itemPessoa.Id == itemPessoaQuadro.PessoaId){
                                                        @itemPessoa.Nome                                
                                                    }
                                                }
                                            </td>    
                                            <td>
                                                
                                            </td>               
                                        </tr>
                                    }

                                }
                            
                            </tbody>
                        </table>
                    </div>
                }
            }
            </div>          
        </div>

        <div class="col-10 pl-5" >
            <h1>Escala de Oficiais</h1> 

            @foreach (var item in ViewBag.ListaQuadro) 
            {
                if (item.Destaque != 2)
                {
                    <div style="float:left" class="col-sm-4">
                        <table class="table table-borderless table-hover table-sm">
                            
                            <tbody>
                            
                                <tr style="background-color:#5c9ded">
                                    <td class="col-sm-2">
                                        @item.Data.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="col-sm-2">                
                                        @foreach (var itemEvento in ViewBag.Evento){
                                            if (itemEvento.Id == item.EventoId){
                                                @itemEvento.Nome
                                            }
                                        }
                                    </td>
                                    <td class="col-sm-1">
                                        @{
                                            var diaExtenso = new CultureInfo("pt-BR").DateTimeFormat.GetAbbreviatedDayName(item.Data.DayOfWeek);
                                            @diaExtenso
                                        }
                                    </td>
                                </tr>        
                                @foreach (var itemPessoaQuadro in ViewBag.PessoaQuadro) 
                                {     
                                    if (itemPessoaQuadro.QuadroId == item.Id){
                                        
                                        <tr>
                                            <td>
                                                @foreach (var itemLocal in ViewBag.Local){
                                                    if(itemLocal.Id == itemPessoaQuadro.LocalId){
                                                        @itemLocal.Nome
                                                    }
                                                }
                                            </td>
                                            <td >
                                                @foreach (var itemPessoa in ViewBag.Pessoa){
                                                    if(itemPessoa.Id == itemPessoaQuadro.PessoaId){
                                                        @itemPessoa.Nome                                
                                                    }
                                                }
                                            </td>    
                                            <td>
                                                
                                            </td>               
                                        </tr>
                                    }

                                }
                            
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>        

    </div>
</div>

