

<form asp-action="Edit">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" id="Id" name="Id" value="@ViewBag.PessoaQuadro.Id"/>

       <div class="form-group">
            <label class="col-md-2 control-label">Pessoa</label>
            <div class="col-md-3">
                <select id="PessoaId" name="PessoaId" class="form-control">                        
                    @foreach (var item in ViewBag.Pessoa){  
                        if(item.Id == ViewBag.PessoaQuadro.PessoaId){
                            <option value="@item.Id" selected>@item.Nome</option>
                        }  
                        else{
                            <option value="@item.Id">@item.Nome</option>
                        }                                                    
                    }                                         
                </select>  
            </div>
        </div> 

        <div class="form-group">
            <label class="col-md-2 control-label">Local</label>
            <div class="col-md-3">
                <select id="LocalId" name="LocalId" class="form-control">
                    @foreach (var item in ViewBag.Local){     
                        if (item.Id == ViewBag.PessoaQuadro.LocalId){
                            <option value="@item.Id" selected>@item.Nome</option>
                        }
                        else{
                            <option value="@item.Id">@item.Nome</option>
                        }                                                                 
                    }                                         
                </select>  
            </div>
        </div>    

        <input type="hidden" id="QuadroId" name="QuadroId" value="@ViewBag.PessoaQuadro.QuadroId" />          
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Quadro">Back to List</a>
</div>


